.top-container {
  background-color: #E4F9F5;
  padding-top: 200px;
  position: relative;
}
.skill-row{

  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', sans-serif;
  font-size: 90px;
  color: #66BFBF;
  line-height: 1;
}

h2{
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 1;
}

hr{
border-style: none;
border-top-style: dotted;
border-color: #EAF6F6;
border-width: 10px;
width: 12%;

}


body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  color: #40514E;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
}



.cloud2 {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.cloud1 {
  right: 450px;
  position: absolute;
  top: 150px;
}

.profile-pic{
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

.Coding{
  width: 25%;
  height: 200px;
  float: left;
  margin-right: 30px;
}

.Writing{
  width: 25%;
  height: 200px;
  float: right;
  margin-left: 30px;
}
.BUTTON_LPS {
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #11999E);

   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   height: 6px;
   line-height: 6px;
   color: #FFFF;
   font-family: Arial;
   width: 86px;
   font-size: 13px;
   font-weight: 100;
   padding: 12px;


   text-shadow: 1px 1px 20px #000000;

   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 40px;
   margin-bottom: 50px;
}



.footer-link1{
  padding-right: 80px;
  padding-top: 150px;
  margin-top: 75px;
  text-decoration: none;
  color: #11999E;
}
.footer-link3{
  padding-left: 80px;
  padding-top: 150px;
  margin-top=75px;
  text-decoration: none;
  color: #11999E;
}
.footer-link2{
  padding-top: 150px;
  margin-top:75px;
  text-decoration: none;
  color: #11999E;

}
.bottom-container{
  background-color: #E4F9F5;
  height: 150px;
  padding-top: 50px;

}
.c{
 margin-bottom: 0;
 color: #11999E;
 margin-top: 50px;
}
